

.summary-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3333;
    /* background-color: white; */
}

.shade{
    width: 40%;
    background-color: black;
    opacity: 0.3;
}
.summary{
    width: 60%;
    background-color: white;
}
.summary-navbar{
    display: flex;
    position: relative;
    height: 45px;
    background-color: #5861AE !important;
    color: white;
    padding: 10px;
    background-color: white;
    /* opacity: 1; */
    /* position: relative; */
}

.close{
        position: absolute;
        right: 32px;
        top: 5px;
        width: 25px;
        height: 25px;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(248, 244, 244);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.address-bar{
    width: 100%;
    padding: 25px 10px 5px 10px;
    height: 50px ;
    background-color: #F4F9FF;
    display: flex;
    justify-content: space-around;
}
.search-address{
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
.address-bar p{
    font-weight: 600;
}

.order-detail p{
    font-size: 14px;
    padding: 10px;
}
.detail-list{
    display: flex;
    justify-content: space-around;
}
.detail-list p{
    font-size: 14px;
    font-weight: 600;
}
.sub-total{
    text-align: right;
    padding-right: 50px;
}
.sub-total p{
    font-size: 14px;
}
.total-detail{
    width: 100%;
    text-align: right;
    padding-right: 70px;
}
.total-detail p{
    font-size: 14px;
}
.total{
    height: 30px;
    width: 94%;
    margin: 0 auto;
    background-color:#5861AE ;
    color: white;
    text-align: right;
    padding-right: 70px;
}
.total p{
    font-size: 14px;
    padding: 10px;
}
.address-flex{
    display: flex;
}
.address{
    padding: 20px 0px 0px 30px;
}
.address-box{
    border: 1.5px solid black;
    width: 270px;
    font-size: 14px;
    margin: 0 5px ;
    padding: 5px;
}
.Add-section{
    font-size: 20px;
    padding: 20px;
    color: #5861AE;
    font-weight: 600;
}
.confirm-bar{
    background-color:#F4F4F4 ;
    text-align: right;
    padding: 10px 30px 10px 0;
}
.confirm-bar button{
    color: white;
    background-color: #5861AE;
    padding: 5px 20px;
}